<h1>Weather for <%= @conditions.name %> <%= @zipcode %></h1>

<div id="currtemp">Currently <%= @conditions.main.temp %>&deg;, feels like <%= @conditions.main.feels_like %>&deg;</div>
Humidity <%= @conditions.main.humidity %>%<br/>
Wind Speed <%= @conditions.wind.speed %>mph<br/>
Today's low <%= @conditions.main.temp_min %>&deg;<br/>
Today's high <%= @conditions.main.temp_max %>&deg;<br/>

<p>Last updated from weather station <%= @conditions.dt.localtime(@conditions.timezone) %>*</p>

<i>
<% if @cached %>
	*results pulled from cache
<% else %>
	*live results
<% end %>
</i>